body {
    background-color: rgb(242, 255, 127);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    color: black;
    font-family: 'Public Sans', sans-serif;
}

a {
    color: rgb(226, 43, 43);
    text-decoration: none;
    &:hover {
        color: black;
    }
}

.container {
    width: 60%;
    background-color: wheat;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 22px;
    box-shadow: 4px 4px 0px black;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-radius: 20px 20px 0 0;
}

.header {
    overflow: hidden;
}

.main {
    padding: 20px;
    background-color: aqua;
    border-radius: 0 0 20px 20px;
    font-family: 'Syne', sans-serif;

    h1 {
        margin: 10px 0;
        font-size: 70px;
        font-weight: 800;
    }
}

.links{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 10px;

    svg {
        width: 40px;
    }
}

.introduction {
    display: flex;
    align-items: start;
    gap: 20px;
}