@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.contain {
    font-family: 'Poppins', serif;
    overflow: hidden;
}

h2 {
    display: flex;
    justify-content: center;
}

.navigation {
    background-color: #004f4d;
}

.navigation_options {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0 20px;
}

.navigation_options a{
    padding: 10px;
    text-decoration: none;
    color: #ffb63e;
    font-size: 16px;
}

a:hover{
    text-decoration: none;
    color: #d15555;
}

.landing {
    background-image: url(/images/lain.jpg);
    background-size: 100% 120%; /* Stretch and scale the image to cover the container */
    background-repeat: no-repeat; /* Prevent repeating the image */
    background-position: center;
    backdrop-filter: blur(5px);
}

.text h1{
    color: #ff8000;
}

p{
    color: #008a52;
}

.image img {
    border-radius: 10px;
    border-style: solid;
    border-color: #ff8000;
}

.grids {
    gap: 20px;
    width: 76%;
}

.grid_items {
    border-radius: 10px;
    color: #ffffff;
    height: 280px;
    border: 1px solid #004f4d;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    grid-gap: 40px;
    padding: 10px 16px;
    border: 1px solid #003232;
    border-radius: 20px;
    width: 60%;
    margin: 10px auto;
}

.history_text p{
    color: #007575;
}

.grid_items h4,p{
    color: #007575;
}

.gallery {
    background-image: linear-gradient(to bottom, #003232, #003939, #00403f, #004846, #004f4d);
    padding: 0;
}

.gallery_items {
    gap: 20px;
    max-width: fit-content; 
    margin-inline: auto;
}

.web img{
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #ffb63e;
    box-shadow: 3px 3px 0px #e64137;
}

.web img:hover{
    animation: boxShadow 0.1s ease-in;
    box-shadow: 7px 7px 0px #e64137;
}

@keyframes boxShadow{
    0% { box-shadow: 3px 3px 0px #e64137; }
    100% { box-shadow: 7px 7px 0px #e64137; }
}

.webrings {
    background-color: #e64037;
    width: 60%;
    padding: 20px;
    margin: 10px auto;
    border: 3px solid #3ce8a9;
    padding: 20px;
    border-radius: 20px;
    margin: 20px auto;
}

.webring_url {
    background-color: #001d23;
}

.footer_info {
    border-radius: 10px;
    background-color: #001d23;
}

@media only screen and (max-width: 448px){	
    .iframe {
        scale: 80%;
    }

    .history {
        display: flex;
        flex-direction: column  ;
        align-items: center;
        width: 90%;
    }

    .webrings {
        width: 90%;
    }
}