@font-face {
    font-family: 'PixelOperator';
    src: url('../fonts/PixelOperator-Bold.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'PixelOperator';
    src: url('../fonts/PixelOperatorHB8.ttf') format('truetype');
    font-weight: bold;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(https://media.adamngshrine.com/images/undertalebg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::after {
        content: "";
        position: fixed;
        inset: 0;
        z-index: -1;
        background: rgba(0, 0, 0, 0.741);
        pointer-events: none;
    }
}

a {
    color: #f9ff10;

    &:hover {
        color: #eb2727;
        text-shadow: none;
    }
}

span {
    color: #eb2727;
    text-shadow: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 64%;
    margin: 0 auto;
    padding: 8px 0;
    border-bottom: 1px solid rgb(120, 120, 120);
    font-family: 'PixelOperator', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.nav_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.nav_options {
    a {
        margin: 0 6px;
        font-size: 18px;
    }
}

.container {
    z-index: 1;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 30px 0;
    color: white;
    font-family: 'PixelOperator', Arial, Helvetica, sans-serif;
    font-weight: bold;
    user-select: none;
}

.header_text {
    font-size: 30px;
}

.header_image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.main {
    width: 80%;
    margin: 0 auto;
    font-family: 'PixelOperator', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.main_header {
    padding-top: 20px;
    border-top: 1px solid rgb(120, 120, 120);
    color: #f9ff10;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 0 #4a4b03;

    p {
        color: white;
        font-size: 24px;
        line-height: 28px;
        text-align: left;
        text-shadow: 1px 1px 1px #0f0f70;
    }
}

iframe {
    border: 2px solid white;
    border-radius: 2px;

    &:hover {
        border-color: #f9ff10;
    }
}

@media (max-width: 448px) {
    .container {
        width: 100%;
        margin: 0 auto;
        transform: translateX(-12px);
    }

    .header {
        margin-bottom: 20px;
    }

    .header_image {
        flex-direction: column;

        img {
            width: 70%;
        }
    }

    iframe {
        width: 100%;
    }

    .main_header {
        font-size: 30px;
    }

    .main {
        width: 95%;

        p {
            line-height: 28px;
        }
    }

    .nav {
        flex-direction: column;
        width: 100%;
    }

    .nav_options {
        a {
            font-size: 14px;
        }
    }

    .memory {
        width: 280px;
    }
}
